

{#******************************JS区域******************************************#}
{% extends 'booksNet/base.html' %}
{% block booknet %}
{% load static %}

<script src="{% static 'booksNet/js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript">
        function player1(id){
        var id=document.getElementById(id)
        id.style.display="block";
        }
        function clocer1(id){
        var id=document.getElementById(id)
        id.style.display="none";
        }
        </script>
        <script type="text/javascript" src="http://www.yuloo.com/js/jquery1.4.2.js"></script>
        <script  type="text/javascript">
            var firstbyteTime=new Date().getTime();
            var firstScreenStartTime=new Date().getTime();
            var mix_imglist=[];

{# *******************************登录欢迎状态********************************* #}
        $(function(){
            username = '{{ username }}';
            if( username != 'None'  ){$('#go_login').css('display','none');$('#go_logout').css('display','inline-block');}
{#            else{ $('#go_login').css('display','inline-block');$('#go_logout').css('display','none');}#}
        });
{#  ********************************登出***************************************#}
        function check_log(){
        $.ajax({
            type:'get',
            url:'{% url "user:log_out" %}',
            data:'log=1',
            success:function (a) {
                if(a == '1'){$('#go_login').css('display','inline-block');
                $('#go_logout').css('display','none');
                $('#log_name').css('display','none');
                }
            },
        });
        }

 </script>

<div id="bd_auto" name="9149">
  <div class="top_ad_banner"><a href="#"><img src="{% static 'booksNet/images/1200x65_sk_1229.jpg'%}" width="1200" height="65" /></a></div>
  <div class="breadcrumb" id="B"> <a href="{% url 'index:index_page' %}">当当</a> <span>&gt;</span>

      <a href="{% url 'index:booklist'%}?a={{ aid }}" style="color: #FE681D;font-weight: bold;">
        {% for aids in a %}
            {% if aids.id == aid  %}
                {{ aids.category_name }}
            {% endif %}
        {% endfor %}
      </a>

      <a href="{% url 'index:booklist'%}?a={{ aid }}&b={{ bid }}" style="color: #FE681D;font-weight: bold;">
          {% for bids in b %}
              {% if b != null %}
                  {% if bids.id == bid  %}
                <span>&gt;</span>{{ bids.category_name }}
                  {% endif %}
              {% endif %}
          {% endfor %}
      </a>
  </div>
              <div class="col aside" name="4931">
    <div class="" name="m142905_pid0_t4824">
                  <div class="col storey_one_left" name="9163">
      <div class="sidemenu" name="m403752_pid0_t9141" dd_name="左侧分类" ddt-area="mix_403752" ddt-floor="mix_403752">
        <div class="con flq_head" >图书分类</div>
        <div class="con flq_body" >
            {% for alevel in a %}
          <div class="level_one" >
            <dl class="con primary_dl" >
              <dt class="con " name="m403752_pid5367_t10276"><span>
                  <a href="{% url 'index:booklist'%}?a={{ alevel.id }}" target="_blank">{{ alevel.category_name }}</a></span>
              </dt>
              <dd class="con sec_cate dd_level1" >
              {#     当一级分类id和二级分类category_p相等时显示该项分类名    #}
                {% for blevel in b %}
                    {% if alevel.id == blevel.category_p %}
                        <a  href="{% url 'index:booklist' %}?a={{ alevel.id }}&b={{ blevel.id }}" target="_blank" > {{ blevel.category_name }} </a>
                    {% endif %}
                {% endfor %}
              </dd>
            </dl>
          </div>
            {% endfor %}
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    </div>
  </div>
              <div class="col article">
    <div class="bk_sort" name="Sort">
                  <div id="component_281329"></div>
                  <div class="con tools_box">
        <div class="con top">
                      <div class="col ">
            <div class="t">排序：</div>
            <ul class="sorting_box" name="Sort">
                          <li class="on">
                <div onclick="location.href='{% url "index:booklist" %}?a={{ aid }}&b={{ bid }}'" title="默认排序" name="Mo">默认排序</div>
              </li>
                          <li class="">
                <div onclick="location.href='{% url "index:booklist" %}?sort=sort_sales&a={{ aid }}&b={{ bid }}'" title="销量由高到低" >销量<span class="icon"></span></div>
              </li>
                          <li class="">
                <div name="Jg" onclick="location.href='{% url "index:booklist" %}?sort=sort_price&a={{ aid }}&b={{ bid }}'" title="价格由低到高" >价格<span class="icon icon_t"></span></div>
              </li>
                          <li class="">
                <div name="OT" onclick="location.href='{% url "index:booklist" %}?sort=sort_pu&a={{ aid }}&b={{ bid }}'" title="出版时间由近到远" >出版时间<span class="icon"></span></div>
              </li>
            </ul>
{#            <div class="select_box" name="Xl">#}
{#                <span class="d">默认排序</span><span class="arrow"></span>#}
{#                    <select name="商品排序" id="book_sort" style="height:20px;">#}
{#                        <option value="">默认排序</option>#}
{#                        <option value="">按销量降序</option>#}
{#                        <option value="">出版时间降序</option>#}
{#                    </select>#}
{#                  <div class="select_pop" style="display: none">#}
{#                    <ul>#}
{#                              <li class="on"><a name="Mo" href="/cp01.01.00.00.00.00.html#ddclick?act=sort_default&amp;pos=0_0_0_p&amp;cat=01.01.00.00.00.00&amp;key=&amp;qinfo=&amp;pinfo=46134_1_60&amp;minfo=&amp;ninfo=&amp;custid=&amp;permid=20170105134312699266298643557280076&amp;ref=http%3A%2F%2Fproduct.dangdang.com%2F24162936.html&amp;rcount=&amp;type=&amp;t=1484359320000&amp;sell_run=0&amp;searchapi_version=eb_split">默认排序</a></li>#}
{#                              <li class=""><a name="Xl" href="/cp01.01.00.00.00.00-srsort_sale_amt_desc.html#ddclick?act=sort_xsale_desc&amp;pos=0_0_0_p&amp;cat=01.01.00.00.00.00&amp;key=&amp;qinfo=&amp;pinfo=46134_1_60&amp;minfo=&amp;ninfo=&amp;custid=&amp;permid=20170105134312699266298643557280076&amp;ref=http%3A%2F%2Fproduct.dangdang.com%2F24162936.html&amp;rcount=&amp;type=&amp;t=1484359320000&amp;sell_run=0&amp;searchapi_version=eb_split">按销量降序<span class="up"></span></a></li>#}
{#                              <li class=""><a name="Jg" href="/cp01.01.00.00.00.00-srsort_xlowprice_asc.html#ddclick?act=sort_saleprice_asc&amp;pos=0_0_0_p&amp;cat=01.01.00.00.00.00&amp;key=&amp;qinfo=&amp;pinfo=46134_1_60&amp;minfo=&amp;ninfo=&amp;custid=&amp;permid=20170105134312699266298643557280076&amp;ref=http%3A%2F%2Fproduct.dangdang.com%2F24162936.html&amp;rcount=&amp;type=&amp;t=1484359320000&amp;sell_run=0&amp;searchapi_version=eb_split">按价格升序<span class="down"></span></a></li>#}
{#                              <li class=""><a name="Jg" href="/cp01.01.00.00.00.00-srsort_xlowprice_desc.html#ddclick?act=sort_saleprice_desc&amp;pos=0_0_0_p&amp;cat=01.01.00.00.00.00&amp;key=&amp;qinfo=&amp;pinfo=46134_1_60&amp;minfo=&amp;ninfo=&amp;custid=&amp;permid=20170105134312699266298643557280076&amp;ref=http%3A%2F%2Fproduct.dangdang.com%2F24162936.html&amp;rcount=&amp;type=&amp;t=1484359320000&amp;sell_run=0&amp;searchapi_version=eb_split">按价格降序<span class="up"></span></a></li>#}
{#                              <li class=""><a name="OT" href="/cp01.01.00.00.00.00-srsort_pubdate_desc.html#ddclick?act=desc&amp;pos=0_0_0_p&amp;cat=01.01.00.00.00.00&amp;key=&amp;qinfo=&amp;pinfo=46134_1_60&amp;minfo=&amp;ninfo=&amp;custid=&amp;permid=20170105134312699266298643557280076&amp;ref=http%3A%2F%2Fproduct.dangdang.com%2F24162936.html&amp;rcount=&amp;type=&amp;t=1484359320000&amp;sell_run=0&amp;searchapi_version=eb_split">出版时间降序<span class="up"></span></a></li>#}
{#                    </ul>#}
{#                  </div>#}
{#             </div>#}
            <script type="text/javascript">
    function gotom(sort_field,is_both_sort){
        if (sort_field == ""){
            location.href = "/cp01.01.00.00.00.00.html";
        }else{
            location.href = sort_field;
        }
    }
</script></div>
       <div class="col ">

          </div>
{#        ***********************************右上角翻页****************************************#}
           <div class="col " style="float: right;">
            <div class="data" name="Fy" >共<span>{{ books.paginator.count }}</span>个商品
                {% if books.has_previous %}
                    <a class="arrow_r arrow_r_on" href="{% url 'index:booklist' %}?num={{ books.previous_page_number }}&a={{ aid }}&b={{ bid }}"></a>
                {% else %}
                    <a class="arrow_l" href="javascript:void(0)"></a>
                {% endif %}

                <span class="or">{{ books.number }}</span><span>/{{ books.paginator.num_pages }}</span>

                {% if books.has_next %}
                    <a href="{% url 'index:booklist' %}?num= {{ books.next_page_number }}&a={{ aid }}&b={{ bid }}" class="arrow_r arrow_r_on"></a>
                {% else %}
                    <a href="javascript:void(0)" class="arrow_l"></a>
                {% endif %}
            </div>
          </div>
           </div>
      </div>
      </div>
  </div>
{#***************************************图书简介展示区*************************************************#}
<div class="book_shoplist" dd_utopia="on" name="Product">
    <div id="component_2963524"></div>
    <div class="con shoplist">
            <ul class="list_aa listimg" id="component_0__0__3058">
            {% for book in books %}

            <li class="line1" id="23668351">
                      <div class="inner"> <a title=" 我与世界只差一个你 " class="pic" href="{% url 'index:bookpage' %}?id={{ book.id }}" target="_blank"><img src="{% static '' %}{{ book.book_img.url }}" alt=" 我与世界只差一个你 "></a>
            <p class="name"><a  href="{% url 'index:bookpage' %}?id={{ book.id }}" target="_blank"> {{ book.name }}</a></p>
            <p class="star"><span class="level"><span style="width: 100%;"></span></span><a href="{% url 'index:bookpage' %}?id={{ book.id }}" target="_blank" name="P_pl">{{ book.sales }} 个销量</a></p>
            <div class="publisher_info">
                          <p class="author"><span></span><a href="#" name="P_zz" title="张皓宸">{{ book.author }}</a></p>
                          <p class="publishing_time"><span></span>/ {{ book.pub_time }} </p>
                          <p class="publishing"><span></span>/ <a href="#" name="P_cbs" title="天津人民出版社">{{ book.pub_company }}</a></p>
                        </div>
            <p class="detail"> 1、「一个」app人气冠军，90后实力写作者，继年度畅销书《你是**的自己》后，张皓宸全新力作，带来温暖人心的个人故事集。12个温馨治愈的情感故事，给年轻人爱的正能量和信心。电影版权火热接洽中，不久的将来你将会在大屏幕上再次与这些故事相逢。
                          2、张皓宸的文字，在微博、豆瓣、人人等文艺平台广受欢迎，百万微博粉丝，他的文字被阅读过100，000，000次，在微博被累计转发1，000，000次，在「一个」app上被分享收藏超过2，000，000次，他的作品被人民日报、人民网微博多次转载，成为90后作家中的励志榜样，给无数年轻人带去力量。
                            </p>
            <p class="dang" style="display: block;">当当自营</p>
            <p class="buy_button"><a class="listbtn_info" name="area_buy" dd_name="查看详情" href="{% url 'index:bookpage' %}?id={{ book.id }}" target="_blank">查看详情</a></p>
            <p class="price"> <span class="price_n">￥{{ book.dprice }}</span><a style="color: #878787;text-decoration:none;">定价：</a><span class="price_r">￥{{ book.price }}</span>(<span class="price_s">{% widthratio book.dprice book.price 100 %}折</span>)</p>
            <div class="ebook_buy">
                <p class="buy_button"><span id="buyok{{ book.id }}" style="color:green;"></span><a class="listbtn_buy" id="A13" dd_name="加入购物车" href="javascript:void(0)" name="Buy" onclick="go_buy({{ book.id }})"></a></p>
                </div>

              <script>
                  function go_buy(bookid){
                      $.ajax({
                          type:'get',
                          url:'{% url "cart:addCart" %}',
                          data:'book_id='+bookid,
                          success:function (a) {
                              if(a == '1'){
                                  $('#buyok'+bookid).text('成功添加到购物车！');
                                  window.setTimeout(function(){$('#buyok'+bookid).text('');},2000);
                              }
                          },
                      });
                  }

              </script>
            <p class="subtitle"> （一个App人气冠军张皓宸全新个人故事集，温馨治愈的情感故事，让你在面对爱时无惧，怀疑爱时坚定。随书附赠张皓宸私密手写寄语明信片） </p>
          </div>
            </li>
           {% endfor %}
          </ul>
          </div>
                <div class="" name="m2963520_pid0_t3989"><div id="component_2963520"></div><div class="con paginating" name="m2963520_pid0_t3990"><script type="text/javascript" src="js/jquery/lazyload181.js"></script>
<script type="text/javascript"> $("img[data-original]").lazyload(); </script>
<ul class="paging" name="Fy">

{#*****************************分页跳转**************************************#}

    <li><a href="{% url 'index:booklist' %}?num=1&&a={{ aid }}&b={{ bid }}">首页</a></li>
    {% if books.has_previous %}
     <li><a href="{% url 'index:booklist' %}?num={{ books.previous_page_number }}&a={{ aid }}&b={{ bid }}">上一页</a></li>
    {% endif %}
        {% for i in books.paginator.page_range %}
            {% if i == books.number %}
                <li ><a href="{% url 'index:booklist' %}?num={{ i }}&a={{ aid }}&b={{ bid }}" class="current">{{ i }}</a></li>
                {% else %}
                <li class="null"><a href="{% url 'index:booklist' %}?num={{ i }}&a={{ aid }}&b={{ bid }}" class="null">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% if books.has_next %}
      <li><a href="{% url 'index:booklist' %}?num={{ books.next_page_number }}&a={{ aid }}&b={{ bid }}">下一页</a></li>
    {% endif %}
    <li><a href="{% url 'index:booklist' %}?num={{ books.paginator.num_pages }}&a={{ aid }}&b={{ bid }}">尾页</a></li>
    <li class="page_input"><span>共{{ books.paginator.num_pages }}页 到第</span>
        <input id="tcp" type="text" class="number" >
        <span>页</span>
        <input class="button" id="click_get_page" value="确定" type="button" onclick="go_page()"></li>
</ul>
</div></div>
  </div>
  </div>

<script src="{% static 'booksNet/js/pagetop2015_0827.js'%}" charset="gb2312" type="text/javascript"></script>
<script src="{% static 'booksNet/js/slider.js'%}"></script>
        <script>
    var setTo = null;
    function showghotsearch(){
        clearTimeout(setTo);
        document.getElementById("hot_search_content").style.display="block";
    }
    function hidehotsearch(){
        setTo = setTimeout(function(){
          document.getElementById("hot_search_content").style.display="none";
        },100)
    }
</script>
<script type="text/javascript">
$(function() {
	var bannerSlider = new Slider($('#banner_tabs'), {
		time: 5000,
		delay: 400,
		event: 'hover',
		auto: true,
		mode: 'fade',
		controller: $('#bannerCtrl'),
		activeControllerCls: 'active'
	});
	$('#banner_tabs .flex-prev').click(function() {
		bannerSlider.prev()
	});
	$('#banner_tabs .flex-next').click(function() {
		bannerSlider.next()
	});
})

{#    跳转到n页#}
    function go_page() {
        var num = $('#tcp').val();
        console.log(111111);
        location.href = "{% url 'index:booklist' %}?a={{ aid }}&b={{ bid }}&num="+num;
    }
</script>
{#******************************尾部JS结束************************************#}
{% endblock %}

