{% load static %}
<style>
	.table1{
		border-color: lightgray;
	}
	.td1,.td2{
		height: 36px;
	}
	.td1{
		text-align: right;
		padding-right: 5px;
		background-color: rgb(230,242,254);
		font-size: 14px;
	}
	.td2{
		padding-left: 5px;
	}
</style>
<form action="{% url 'admins:reviseBook' %}" method="post" enctype="multipart/form-data">
       {% csrf_token %}
<table class="table1" border="1" cellspacing="0" width="1110px">
    <input type="hidden" name="id" value="{{ book.id }}">
	<tr>
		<td class="td1">商品名称:</td>
		<td class="td2"><input type="text" name="name" value="{{ book.name }}"></td>
	</tr>
	<tr>
		<td class="td1">作者:</td>
		<td class="td2"><input type="text" name="author" value="{{ book.author }}"></td>
	</tr>
	<tr>
		<td class="td1">出版社:</td>
		<td class="td2"><input type="text" name="pub_company" value="{{ book.pub_company }}"></td>
	</tr>
	<tr>
		<td class="td1">商品父类:</td>
		<td class="td2">
			<select name="category">
                <option value="5">青春文学</option>
				<option value="3">小说</option>
				<option value="2">电子书</option>
				<option value="10">励志/成功</option>
				<option value="12">英文/港台</option>
				<option value="13">当当出版</option>
				<option value="14">文化礼品</option>
				<option value="15">期刊</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="td1">出版日期:</td>
		<td class="td2">
			<input type="date" name="pub_time" value="{{ book.pub_time|date:'Y-m-d' }}">
		</td>
	</tr>
    <tr>
		<td class="td1">版次:</td>
		<td class="td2"><input type="text" name="revision" value="{{ book.revision }}"></td>
	</tr>
    <tr>
		<td class="td1">ISBN:</td>
		<td class="td2"><input type="text" name="ISBN" value="{{ book.ISBN }}"></td>
	</tr>
    <tr>
		<td class="td1">字数:</td>
		<td class="td2"><input type="text" name="word_count" value="{{ book.word_count }}"></td>
	</tr>
    <tr>
		<td class="td1">页数:</td>
		<td class="td2"><input type="text" name="page_count" value="{{ book.page_count }}"></td>
	</tr>
    <tr>
		<td class="td1">开本:</td>
		<td class="td2"><input type="text" name="page_type" value="{{ book.page_type }}"></td>
	</tr>
    <tr>
		<td class="td1">纸张:</td>
		<td class="td2"><input type="text" name="paper" value="{{ book.paper }}"></td>
	</tr>
    <tr>
		<td class="td1">包装:</td>
		<td class="td2"><input type="text" name="wrapper" value="{{ book.wrapper }}"></td>
	</tr>
    <tr>
		<td class="td1">定价:</td>
		<td class="td2"><input type="text" name="price" value="{{ book.price }}"></td>
	</tr>
    <tr>
		<td class="td1">当当价:</td>
		<td class="td2"><input type="text" name="dprice" value="{{ book.dprice }}"></td>
	</tr>
        <tr>
		<td class="td1">编辑推荐(1-5):</td>
		<td class="td2"><input type="text" name="editor_recommend" value="{{ book.editor_recommend }}"></td>
	</tr>
        <tr>
		<td class="td1">印刷时间:</td>
		<td class="td2"><input type="date" name="print_time" value="{{ book.print_time|date:'Y-m-d' }}"></td>
	</tr>
        <tr>
		<td class="td1">印次:</td>
		<td class="td2"><input type="text" name="impression" value="{{ book.impression }}"/></td>
	</tr>
        <tr>
		<td class="td1">库存:</td>
		<td class="td2"><input type="text" name="stock" value="{{ book.stock }}"/></td>
	</tr>
        <tr>
		<td class="td1">上线时间:</td>
		<td class="td2"><input type="date" name="online_date" value="{{ book.online_date|date:'Y-m-d' }}"></td>
	</tr>
        <tr>
		<td class="td1">评价(1-5):</td>
		<td class="td2"><input type="text" name="score" value="{{ book.score }}"></td>
	</tr>
        <tr>
		<td class="td1">销量:</td>
		<td class="td2"><input type="text" name="sales" value="{{ book.sales }}"></td>
	</tr>
        <tr>
		<td class="td1">图书插图:</td>
		<td class="td2"><input type="file" name="digest_img">
            <img src="{% static '' %}{{ book.digest_img }}" width="30px"></td>
	</tr>
    </tr>
        <tr>
		<td class="td1">图书封面:</td>
		<td class="td2"><input type="file" name="book_img">
        <img src="{% static '' %}{{ book.book_img }}" width="30px"></td>
	</tr>
    </tr>
        <tr>
		<td class="td1">添加图书:</td>
		<td class="td2"><input type="submit" value="提 交"></td>
	</tr>


</table>

</form>